<div class="b-blockStyle__arrow scroll_up">
  <a href="#header"></a>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>  
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/skrollr.js"></script>
<script type="text/javascript" src="/js/jquery.scrollSpeed.js"></script>
<script type="text/javascript" src="/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/js/jquery.data-parallax.min.js"></script>
<script type="text/javascript" src="/js/jquery.stellar.js"></script>
<script type="text/javascript" src="/js/jquery.jkit.1.2.16.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-slider.js"></script>
<script type="text/javascript" src="/js/script.js"></script>


<script type="text/javascript">
  $(window).load(() => {
    $('.preload').addClass('scale_eff');
    setTimeout(() => {
        $('.preload').css({
            opacity: 0
        });
    }, 500);
    setTimeout(() => {
        $('.preload').hide();
    }, 1500);

    $('[data-tab=tab1]').click();
    $('[data-tab=tab6]').click();
});
if (jQuery('body').width() > 1025) {
    $(window).on('scroll', () => {
        if ($(window).scrollTop() > 500) {
            $('.scroll_up').fadeIn(700);
        } else {
            $('.scroll_up').fadeOut(700);
        }
    });

    var owl = $('.b-gallery__slider2');
    owl.owlCarousel({
        loop: true,
        mouseDrag: false,
        touchDrag: false,
        nav: true,
        dots: false,
        items: 1,
        autoplay: true,
        autoplayTimeout: 5000,
        animateIn: false, // add this
        animateOut: 'fadeOut', // and this
        margin: 0,
    });

    var owl = $('.b-gallery__slider');
    owl.owlCarousel({
        loop: false,
        mouseDrag: false,
        touchDrag: false,
        nav: true,
        dots: false,
        items: 1,
        animateIn: false, // add this
        animateOut: 'fadeOut', // and this
        margin: 0,
    });
}


let timeout = false;
$(window).on('scroll', () => {
    owl.on('mousewheel', '.owl-stage', (e) => {
        if (e.deltaY > 0) {
            setTimeout(() => {
                owl.trigger('prev.owl');
            }, 1000);
        } else {
            setTimeout(() => {
                owl.trigger('next.owl');
            }, 1000);

            if ($('.owl-next').hasClass('disabled')) {
                $('.b-gallery__slider').addClass('end_slide');
            } else {

            }
        }
        e.preventDefault();
    });

    if (timeout !== false) {
        clearTimeout(timeout);
    }


    timeout = setTimeout(() => {


    }, 2000);
    if ($(window).scrollTop() == 0) {
        $('.b-gallery__slider').removeClass('end_slide');
    }
});
</script>